<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.example.readingRecord.repository.BookMapper">
	<select id="selectAll"
		resultType="com.example.readingRecord.entity.Book">
		SELECT id, title, memo, status, created_at AS createdAt,
		updated_at AS
		updatedAt FROM books
	</select>
	<select id="selectById"
		resultType="com.example.readingRecord.entity.Book">
		SELECT id, title, memo, status, created_at AS createdAt,
		updated_at AS
		updatedAt FROM books WHERE id = #{id}
	</select>
	<insert id="insert">
		INSERT INTO books (title, memo, status, created_at,
		updated_at) VALUES
		(#{title},#{memo},#{status},CURRENT_TIMESTAMP,CURRENT_TIMESTAMP)
	</insert>
	<update id="update">
		UPDATE books SET title = #{title}, memo = #{memo},
		status = #{status},
		updated_at = CURRENT_TIMESTAMP WHERE id = #{id}
	</update>
	<delete id="delete">
		DELETE FROM books WHERE id = #{id}
	</delete>
</mapper>